<!doctype html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="<%= app_name %>">
    <meta property="og:description" content="SPONSORED: ">
    <meta property="og:image" content="">
    <meta name="google" value="notranslate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="robots" content="noindex">

    <title><%= app_name %></title>
    <% ooyala_player_code = 'b40f5b65292c4a6f8b3687c8670463fc' %>
    <script type="text/javascript" src="http://player.ooyala.com/v3/<%= ooyala_player_code %>?platform=html5-fallback&tweaks=android-enable-hls"></script>

    <%= stylesheet_link_tag "style" %>
    <%# This is  is how we pass data from config.rb, or ruby in general, to the javascript %>
    <script type="text/javascript">
      var App = App || {};
      App.Context = {
         url_prefix: "<%= url_prefix %>",
         app_name : "<%= app_name %>",
         host_name: "<%= url_host %>",
         twitter_name: "<%= twitter %>"
       };

      // A nice place holder for google analytics things
      var _gaq = _gaq || [];
    </script>
  </head>

  <body id="scrollbox">
    <%= partial "svg/svg" %>
      <nav class="nav">
        <span class="nav__vertical">
          <a href="/">
            <svg class="nav__vertical__logo svg-icon" viewBox="0 0 474 86"><use xlink:href="#verge"></use></svg>
          </a>
          <a class="nav__burger" href="#">
            <div class="nav__burger__patty"></div>
            <div class="nav__burger__patty"></div>
            <div class="nav__burger__patty"></div>
          </a>
        </span>
        <%= partial 'partials/hamburger_nav', :locals => {:episodes => episodes} %>
        <div class="right">
          <a href="http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=9994846&PluID=0&ord=[timestamp]"><span class="nav__label">From Our Sponsor</span></a>
          <%= partial 'partials/social_share' %>
        </div>
      </nav>

  <div class="nav__spacer"></div>

    <%= yield %>

  </body>
  <%= partial 'partials/analytics' %>
  <%= javascript_include_tag  "base" %>
  <%= javascript_include_tag  "bottom" %>
</html>
