<%
# --------------------------------------------------------
# Row scanning for setup and configuration for this page
# ---------------------------------------------------------
url_for_section = url_host + url_prefix + (slug == "episode-0" ? '/' : slug)

page_title = doc.detect{|row| row.kind == "page_title"}.try(:title) || ''

has_video = doc.detect{|row| row.kind == "video"}.try(:text) || ''

share_text = doc.detect{|row| row.kind == "share_text"}.try(:text) || default_share_text

# One or more categories for this episode
categories = doc.map{|row| row.kind == "category" ? row.title : nil}.compact.uniq
is_video = categories.detect{|c| c == "video"}
category_text = categories.join(' | ')

%>
<article class="<%= slug == active_slug ? 'active' : 'hidden' %>
                <%= categories.map{|c| "category-#{c}"}.join(' ') %>"
         data-slug="<%=slug%>"
         data-index="<%=index%>"
         data-url-for-section="<%=url_for_section%>"
         data-page-title= "<%= page_title %>"
         data-share-text= "<%= share_text %>" >

  <%# ---- Video ----------------------------- #%>
  <% video_row = doc.detect{|row| row.kind == "video"} %>
  <% if video_row.present? %>
  <section class="lede video slider single">
    <ul class="videos">
      <li class="active">
        <button class="overlay lazy" data-src="<%= video_row.image %>"></button>
        <div class="article-info">
          <h1><%= video_row.title %></h1>
            <% if has_video != '' %>
            <svg class="play-icon" viewBox="0 0 100 100"><use xlink:href="#play-button"></use></svg>
            <% end %>
        </div>
        <div class="video-container" id="video-container-<%= index %>" data-video-index="<%= index %>" data-video-id="<%=video_row.text %>"></div>
      </li>
    </ul>
    <div id="navigation">
    <!-- Navigation -->
      <a href="#" class="prev" style="display: none;">
        <svg class="prev" viewBox="0 0 30 126"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#prev-arrow"></use></svg>
      </a>
      <a href="#" class="next">
      <svg class="next" viewBox="0 0 30 126"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next-arrow"></use></svg>
      </a>
    </div>
  </section>
  <% end %>

  <% if is_video %>
    <% video_intro_row = doc.detect{|row| row.kind == "video-intro"} %>
    <% video_title = video_row.try(:title,"") %>
    <% video_text= video_intro_row.try(:text,"") %>
    <section class="video-intro">
      <div class="container">
        <h2><%= video_title %></h2>
        <p><%= video_text %></p>
        <div class="stb"></div>
      </div>
    </section>
  <% end %>

  <%# ---- Content --- %>
  <%# Get the share text of out this episode %>
  <%= set_section "content container" %>
  <%= partial 'partials/social_share', :locals => {:share_text => share_text,
                                                   :share_url =>  url_for_section} %>
    <% kind_counts = {} %>
    <% doc.each_with_index do |row,i| %>
      <% partial_name = case row.kind.to_s.downcase
                          when "impression", "text", "ama", "infographic", "ama-submit"
                            "kind_#{row.kind.to_s.downcase}"
                          when /_quote$/; "kind_quote"
                          when /#{image_types.join('|')}/; "kind_image"
                          else nil
                        end %>
      <% if !partial_name.nil? &&
            (row.title.present? || row.text.present? || row.image.present?) %>
        <% kind_counts[row.kind] = (kind_counts[row.kind] || -1) + 1 %>
        <%= partial "partials/#{partial_name}", :locals => {:row => row, :index => i, :count => kind_counts[row.kind]} %>
      <% end %>
    <% end %>

  <%= set_section "next-click-wrapper" %>
  <div class='latest-posts'><%=next_click_teaser_text %></div>
  <%# Next clicks are down here %>
  <% doc.find_all{|row| row.kind.to_s.include?("next_click")}.each_with_index do |row,i| %>
    <% kind_counts[row.kind] = (kind_counts[row.kind] || -1) + 1 %>
    <%= partial "partials/kind_next_click", :locals => {:row => row, :index => i, :count => kind_counts[row.kind]} %>
  <% end %>

  </section> <%# this needs to be here, section is setup in each partial %>

  <% athena_row = doc.detect{|row| row.kind == "athena"} %>
  <% athena_image = athena_row.try(:image,"") %>
  <% athena_mobile_image = athena_row.try(:mobileimage,"") %>
  <a href="#" target="_blank"><img class="athena" src="<%= athena_image %>" /></a>
  <a href="#" target="_blank"><img class="mobile-athena" src="<%= athena_mobile_image %>" /></a>
  
  <footer class="footer">
      <a class="footer__logo" href="http://voxmedia.com"></a>
      <aside class="footer__text">
        <p>This feature was produced in collaboration between <a href="http://www.voxmedia.com/vox-advertising">Vox Creative</a> and <%= sponsor_name %>. The Verge editorial staff was not involved in the creation or production of this content.</p>
        <small>&copy; <%= Time.new.year %>. Vox Media, Inc. All Rights Reserved</small>
      </aside>
  </footer>
</article>
