<%
  episodes ||= locals[:episodes] || []
%>

<ul class="menu">
  <ul class="menu-categories">
    <li data-category="latest">
      <span class="svg"></span>
      Latest
    </li>
    <li data-category="longform">
      <span class="svg"></span>
      Longform
    </li>
    <li data-category="video">
      <span class="svg"></span>
      Video
    </li>
    <li data-category="ama">
      <span class="svg"></span>
      AMAs
    </li>
    <li data-category="infographic">
      <span class="svg"></span>
      Infographics
    </li>
  </ul>

  <ul class="menu-content">
    <% episodes.each_with_index do |data, index| %>
      <% page_title = data.detect{|row| row.kind == "page_title"}.try(:title) %>
      <% category = data.detect{|row| row.kind == "category"}.try(:title) %>
      <% video_image = data.detect{|row| row.kind == "video"}.try(:image) %>
      <% if category == "video" %>
      <li class="<%= category %> lazy" data-src="<%= video_image %>" style="background: no-repeat 50% 50%;">
        <div class="video-gradient"></div>
        <div class="video-meta">
          <span class="subhead"><%= category %></span>
          <h2><a href="#" data-index="<%= index %>"><%= page_title %></a></h2>
        </div>
      <% else %>
      <li class="<%= category %>">
        <span class="subhead"><%= category %></span>
        <h2><a href="#" data-index="<%= index %>"><%= page_title %></a></h2>
      <% end %>
      </li>
    <% end %>
  </ul>

</ul>
