<%= set_section "content container" %>
<%
has_link = false
if row.link.present?
  link = parse_link(row.link.to_s, "Read more about " + row.title.to_s + "...")
  has_link = true
end
meta = get_meta(row)
%>
<figure class="<%= row.kind %>">
    <%# Adding the title bar above Next Clicks...%>
    <% if row.image.present? %>
      <%= "<a href='#{link.url}'>" if has_link %>
      <img class="lazy" data-src="<%= row.image %>" alt="<%=row.try(:title)%>">
      <%= "</a>" if has_link %>
    <% end %>
</figure>
