<%
has_link = false
if row.link.present?
  link = parse_link(row.link.to_s, "Read more about " + row.title.to_s + "...")
  has_link = true
end
meta = get_meta(row)
%>

<%#= set_section "next-click-wrapper" %>
<figure class="<%= row.kind %>">
  <%# Adding the title bar above Next Clicks...%>
  <%# if next_click_teaser_frequency >= 0 && (count % next_click_teaser_frequency == 0) %>
       <!-- <div class='latest-posts'><%=next_click_teaser_text %></div> -->
  <%# end %>

  <% if row.image.present? %>
    <%= "<a href='#{link.url}'>" if has_link %>
    <img class="lazy" data-src="<%= row.image %>" alt="<%=row.try(:title)%>">
    <%= "</a>" if has_link %>
  <% end %>

  <div class="figure-content">
    <% if meta.present? %>
      <div class="subhead <%= meta %>"><%= meta %></div>
    <% end %>

    <% if row.title.present? %>
      <%= "<a href='#{link.url}'>" if has_link %>
        <h3><%= row.title %></h3>
      <%= "</a>" if has_link %>
    <% end %>
    <% if row.text.present? %>
      <p><%= row.text %></p>
    <% end %>

    <% if has_link %>
      <a href="<%= link.url %>" class="action">
        <%= link.title %>
      </a>
    <% end %>
  </div>
</figure>
