<nav class="m-sticky-nav">
  <a class="m-sticky-nav__logo" href="/" target="new"></a>
  <a class="m-sticky-nav__burger" href="#">☰</a>
  <ul class="social">
    <li><a class="icon-twitter" data-social="Twitter" data-shared="<%= title %>" href="<%= tweet(slug, title) %>"></a></li>
    <li><a class="icon-facebook" data-social="Facebook" data-shared="<%= title %>" href="<%= facebook(slug) %>"></a></li>
    <li><a class="icon-gplus" data-social="Google+" data-shared="<%= title %>" href="<%= google_plus(slug) %>"></a></li>
    <li><a class="nav-previous icon-prev" href="#"></a></li>
    <li><a class="nav-next icon-next" href="#"></a></li>
  </ul>
  <ul class="menu">
    <li><a href="/a/mlb-preview-2014" class="home">SB Nation's 2014 MLB Preview</a></li>
    <% data.teams.each_slice(5).with_index do |teams, index| %>
      <% division = data.divisions[index] %>
      <li><a href="#" class="<%= division.division_id %>" data-page="<%= division.division_specific_id %>"><%= division.division_name %></a></li>
      <% teams.each do |t| %>
        <li><a href="#" data-page="<%= t.team_id %>"><%= t.team_name %></a></li>
      <% end %>
    <% end %>
  </ul>
  <div class="tool-tip-right" style="display: none;">
    <p>Toggle between pages with these arrows, or use your keyboard (left/right arrows or j/k keys)</p>
  </div>
  <div class="tool-tip-left" style="display: none;">
    <p>Use this menu to jump through division and team pages</p>
  </div>
</nav>