<% url_for_section = url_host + url_prefix + (slug == "week-0" ? '/' : slug) %>
<% page_title = doc.detect{|row| row.kind == "page_title"}.try(:title) || '' %>
<% share_text = doc.detect{|row| row.kind == "share_text"}.try(:text) || default_share_text %>

<article class="<%= slug == active_slug ? 'active' : 'hidden' %>"
         data-slug="<%=slug%>"
         data-index="<%=index%>"
         data-url-for-section="<%=url_for_section%>"
         data-page-title= "<%= page_title %>"
         data-share-text= "<%= share_text %>" >

  <%# ---- Video ----------------------------- #%>
  <% video_row = doc.detect{|row| row.kind == "video"} %>
  <% if video_row.present? %>
  <section class="lede video slider single">
    <ul class="videos">
      <li class="active">
        <button class="overlay" style="background-image: url('<%= video_row.image %>')">
          <h1><%= video_row.title %></h1>
          <svg class="play-icon" viewBox="0 0 100 100"><use xlink:href="#play-button"></use></svg>
        </button>
        <div class="video-container" id="video-container-<%= index %>" data-video-index="<%= index %>" data-video-id="<%=video_row.text %>"></div>
      </li>
    </ul>

    <div id="navigation">
      <%# --- Navigation -- -%>
      <a href="#" class="prev">
        <svg class="prev" viewBox="0 0 30 126"><use xlink:href="#prev-arrow"></use></svg>
      </a>
      <a href="#" class="next">
      <svg class="next" viewBox="0 0 30 126"><use xlink:href="#next-arrow"></use></svg>
      </a>
    </div>
  </section>
  <% end %>

  <%# ---- Content --- %>
  <section class="content container">
  <%# Get the share text of out this week %>
  <%= partial 'partials/social_share', :locals => {:share_text => share_text,
                                                   :share_url =>  url_for_section} %>
    <% doc.each do |row| %>
      <% if row.kind == "impression" && row.image.present? %>
        <img class="pixel-tracker" data-src="<%= row.image %>" />
      <% elsif row.kind == "text" %>
        <%= partial 'partials/kind_text', :locals => {:row => row} %>
      <% elsif row.kind.to_s.end_with?('_quote') %>
        <%= partial 'partials/kind_quote', :locals => {:row => row} %>
      <% elsif image_types.include?(row.kind.to_s) %>
        <%= partial 'partials/kind_image', :locals => {:row => row} %>
      <% end %>
    <% end %>
  </section>

</article>
