---
title: Vox.com Year in Emoji app
date: May 4, 2016
blog: work
---

<h2>The concept</h2>

<p><%= lorem.sentences 5 %></p>

<h2>Some other things</h2>

<p><%= lorem.sentences 5 %></p>

<h2>Key takeaways and learnings</h2>

<p><%= lorem.sentences 5 %></p>

<blockquote><%= lorem.sentences 4 %></blockquote>

<p><%= lorem.sentences 5 %></p>
